{% extends 'base.html' %}

{% block title %}Daftar Mata Pelajaran{% endblock %}

{% block page_header %}
<div class="container-xl">
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Daftar Mata Pelajaran
                </h2>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <a href="{% url 'mapel_create' %}" class="btn btn-primary d-none d-sm-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <line x1="12" y1="5" x2="12" y2="19" />
                            <line x1="5" y1="12" x2="19" y2="12" />
                        </svg>
                        Tambah Mapel
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-12">
    <div class="card">
        <div class="table-responsive">
            <table class="table table-vcenter card-table">
                <thead>
                    <tr>
                        <th>Kode</th>
                        <th>Nama Mata Pelajaran</th>
                        <th class="w-1"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for mapel in mapel_list %}
                    <tr>
                        <td>{{ mapel.kode }}</td>
                        <td>{{ mapel.nama }}</td>
                        <td>
                            <a href="{% url 'mapel_edit' mapel.pk %}">Edit</a> |
                            <a href="{% url 'mapel_delete' mapel.pk %}" class="text-danger">Hapus</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3" class="text-center">Belum ada mata pelajaran.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}